html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 0;
}

@font-face {
  font-family: 'Muller';
  src: local('MullerNarrow-Light'),
    url('../fonts/Mullernarrowlight.woff2') format('woff2'),
    url('../fonts/Mullernarrowlight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('MullerNarrow-ExtraBold'),
    url('../fonts/Mullernarrowextrabold.woff2') format('woff2'),
    url('../fonts/Mullernarrowextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Light'),
    url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'),
    url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Muller', sans-serif;
  background-color: #F4F4ED;
}

/* glob */

.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.descr-reset {
  margin: 0;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 200px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.section__title {
  margin: 0;
  margin-bottom: 100px;
  font-weight: 600;
  color: #000;
  font-size: 60px;
  text-align: center;
}

.section-offset {
  padding: 100px 0;
}

/* header */

.header {
  background-color: #fff;
}

.header {
  padding: 15px 0;
}

.btn__back {
  padding: 45px 0 45px 10px;
  align-items: center;
  font-size: 25px;
  font-weight: 800;
  background-image: url("../../img/loogotype.svg/ArrowBack.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  padding: 45px 0 45px 35px;
  align-items: center;
  font-size: 25px;
  font-weight: 800;
}

.header__back {
  margin-right: auto;
}

.menu__item {
  width: 30px;
  height: 30px;
  padding: 45px 0;
}

.menu__item:not(:last-child) {
  margin-right: 130px;
}

/* hero */

.hero {
  margin: 0 auto;
  min-height: 1080px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* navigation */

.navigation__list {
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap);
  --gap: 100px;
  --offsets: 1;
}

.navigation__item {
  background: #878787;
  display: flex;
  max-width: 700px;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  padding: 200px 85px 50px 50px;
  border-radius: 50px;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: end;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.navigation__item:nth-child(2n) {
  margin-right: 0;
}

.navigation__item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.navigation__link {
  margin: 0;
  font-size: 45px;
  color: #fff;
  font-weight: 900;
}


/* contacts */

.footer {
  background-color: #fff;
}

.footer__container {
  flex-direction: column;
}

.footer__list {
  flex-wrap: wrap;
  width: 100%;
  gap: 100px;
  --offsets: 1;
  --gap: 100px;
  margin-bottom: 30px;
}

.contacts__item {
  background-color: #fff1e4;
  border-radius: 30px;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  padding: 30px 100px 55px 30px;
  margin-bottom: 100px;
}

.contacts__item:last-child {
  margin-right: 0;
}

.contacts__item:not(:nth-child(-n)) {
  margin-bottom: 0;
}

.contacts__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 35px;
  font-size: 35px;
  color: #878787;
  font-weight: 600;
  font-style: normal;
}

.contacts__name {
  margin: 0;
  margin-bottom: 65px;
  font-size: 30px;
  max-width: 390px;
  font-size: 30px;
  color: #000;
  font-weight: 600;
  font-style: normal;
}

.contacts__link {
  font-size: 30px;
  color: #878787;
  font-weight: 600;
  font-style: normal;
  width: 100%;
}

.contacts__descr {
  font-size: 30px;
  color: #5c5c5c;
  font-weight: 600;
  font-style: normal;
}

.contacts__container {
  flex-direction: column;
}

.social__item {
  width: 50px;
  height: 50px;
}

.social__item:not(:last-child) {
  margin-right: 40px;
}

.social__item {
  transition: .3s;
}

.social__item:hover {
  content: "";
  transform: scale(1.5);
}

.social__item:active {
  content: "";
  transform: scale(.5);
}

@media (max-width: 1200px) {
  .navigation__list {
    --gap: 50px;
  }

  .navigation__item {
    padding: 200px 30px 30px 30px;
  }

  .navigation__link {
    font-size: 35px;
  }

  .container {
    padding: 0 80px;
  }

  .footer__list {
    gap: 60px;
  }

  .contacts__item {
    width: 100%;
  }
}

@media (max-width: 920px) {

  .section-offset {
    padding: 50px 0;
  }

  .section__title {
    margin-bottom: 50px;
    font-size: 50px;
  }

  .container {
    padding: 0 50px;
  }

  .navigation__list {
    --gap: 20px;
  }

  .navigation__item {
    border-radius: 32px;
  }

  .navigation__link {
    font-size: 30px;
  }

  .footer__list {
    gap: 45px;
  }

  .contacts__item {
    padding: 25px 80px 30px 20px;
  }

  .contacts__title {
    margin-bottom: 30px;
  }

  .contacts__name {
    margin-bottom: 50px;
  }

  .contacts__link {
    font-size: 22px;
  }

  .contacts__descr {
    font-size: 22px;
  }
}

@media (max-width: 720px) {
  .navigation__link {
    font-size: 25px;
  }
}

@media (max-width: 590px) {

  .container {
    padding: 0 20px;
  }

  .header__back {
    align-items: center;
  }

  .header__menu {
    align-items: center;
  }

  .menu__item {
    width: 20px;
    height: 20px;
    padding: 0;
  }

  .menu__item:not(:last-child) {
    margin-right: 50px;
  }

  .btn__back {
    padding: 0 0 0 35px;
    font-size: 15px;
    background-size: 20px 20px;

  }

  .hero {
    min-height: 690px;
  }

  .section__title {
    font-size: 35px;
  }

  .navigation__list {
    flex-wrap: wrap;
  }

  .navigation__item {
    width: 100%;
  }

  .contacts__item {
    border-radius: 20px;
  }

  .contacts__title {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .contacts__name {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .contacts__link {
    font-size: 12px;
  }

  .contacts__descr {
    font-size: 12px;
  }
}