/* hero */

.hero {
    margin: 0 auto;
    max-width: 1920px;
    min-height: 1080px;
    background-image: url("../../img/Other/Panorama_Museum_of_Voinskoi-slavi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* navigation */
  
  .navigation-lists {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .navigation-card {
    display: flex;
    max-width: 700px;
    width: 100%;
    min-height: 500px;
    padding: 200px 85px 50px 50px;
    border-radius: 50px;
    margin-right: 100px;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: end;
    margin-bottom: 100px;
  }
  
  .navigation-card:nth-child(2n) {
    margin-right: 0;
  }
  
  .navigation-card:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
  
  .navigation-card-1 {
    background-image: url("../img-museums/museum-voinskoi-slavi/bg-medals.jpg");
  }
  
  .navigation-card-2 {
    background-image: url("../img-museums/museum-voinskoi-slavi/bg-equipment.jpg");
  }
  
  .navigation-card-3 {
    background-image: url("../img-museums/museum-voinskoi-slavi/bg-hroniks.jpg");
  }
  
  .navigation-link-descr {
    margin: 0;
    padding-right: 30px;
    font-size: 60px;
    color: #fff;
    font-weight: 900;
    background-image: url("../../img/loogotype.svg/ArrowWhite.svg");
    background-repeat: no-repeat;
    background-size: 30px 40px;
    background-position: right 24px;
  }
  
  /* medals */
  
  .medals-list {
    min-height: 500px;
    background-color: #fff;
    padding: 100px 90px 50px 75px;
    border-radius: 50px;
    margin-bottom: 100px;
  }
  
  .medal-list-immage {
    margin-right: 25px;
  }
  
  .medals-immage {
    max-width: 500px;
    width: 100%;
    min-height: 500px;
    flex-shrink: 0;
  }
  
  .medal-list-descr {
    max-width: 810px;
  }
  
  .medals-title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    color: #606060;
    font-weight: 900;
  }
  
  .second-line {
    margin: 0;
    margin-bottom: 25px;
    font-size: 25px;
    color: #1B1B1B;
    font-weight: 900;
  }
  
  .medals-descr {
    margin: 0;
    margin-bottom: 30px;
    color: #292929;
    font-size: 25px;
    font-weight: 900;
    line-height: 30px;
  }
  
  .many-info {
    font-size: 20px;
  }
  
  .medals-descr:last-child {
    margin-bottom: 0;
  }
  