/* hero */

.hero {
    background-image: url("../../img/Other/Panorama_Museum_of_Voinskoi-slavi.jpg");
  }
  
  /* navigation */

  .navigation__item-1 {
    background-image: url("../img-museums/museum-voinskoi-slavi/exposition-1.jpg");
  }
  
  .navigation__item-2 {
    background-image: url("../img-museums/museum-voinskoi-slavi/exposition-8.jpg");
  }
  
  .navigation__item-3 {
    background-image: url("../img-museums/museum-voinskoi-slavi/exposotion-4.jpg");
  }

  .navigation__item-4 {
    background-image: url("../img-museums/museum-voinskoi-slavi/exposotion-5.jpg");
  }

  .navigation__item-5 {
    background-image: url("../img-museums/museum-voinskoi-slavi/exposotion-6.jpg");
  }

  .navigation__item-6 {
    background-image: url("../img-museums/museum-voinskoi-slavi/exposotion-7.jpg");
  }

  .navigation__item-7 {
    background-image: url("../img-museums/museum-voinskoi-slavi/exposotion-2.jpg");
  }

  .navigation__item-8 {
    background-image: url("../img-museums/museum-voinskoi-slavi/exposotion-3.jpg");
  }
  
  /* medals */
  
  .medals-list {
    min-height: 500px;
    background-color: #fff;
    padding: 100px 90px 50px 75px;
    border-radius: 50px;
    margin-bottom: 100px;
  }
  
  .medal-list-immage {
    margin-right: 25px;
  }
  
  .medals-immage {
    max-width: 500px;
    width: 100%;
    min-height: 500px;
    flex-shrink: 0;
  }
  
  .medal-list-descr {
    max-width: 810px;
  }
  
  .medals-title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    color: #606060;
    font-weight: 900;
  }
  
  .second-line {
    margin: 0;
    margin-bottom: 25px;
    font-size: 25px;
    color: #1B1B1B;
    font-weight: 900;
  }
  
  .medals-descr {
    margin: 0;
    margin-bottom: 30px;
    color: #292929;
    font-size: 25px;
    font-weight: 900;
    line-height: 30px;
  }
  
  .many-info {
    font-size: 20px;
  }
  
  .medals-descr:last-child {
    margin-bottom: 0;
  }
  